#arda {
    background-image: url("../pics/map/bg.png");
    background-size: cover;
    height: 2000px;
}

path {
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    stroke-linecap: round;
}

#outline path{
    fill: #eee;
    stroke: #eee;
    stroke-width: 0.5px;
}

#ekkaia {
    fill: #0d529f;
}

#forest path{
    fill: rgba(51, 153, 51, 0.69);
    fill-opacity: 0.7;
    stroke-width: 0.3px;
    stroke: rgba(51, 153, 51, 0.28);
}

#names {
    fill: #630;
}

.colorofperson {
    fill: #8018E1;
}
.colorofregion {
    fill: #9B1818;
}

.colorofwater {
    fill: #B2C6DB;
}
.colorofareaspecial {
    fill: #9B1818;
}

.colorofforgottenland {
    fill: rgba(220, 220, 220, 0.4) !important;
    stroke: rgba(220, 220, 220, 0.7) !important;
    stroke-dasharray: 3,2;
    stroke-width: 4px;
    border-image-repeat: round;
}

#mountainhigh path{
    fill: #888;
    brigthness: 50%;
    stroke-width: 0.3px;
    stroke: #625050;
}

#mountainlow path{
    fill: #EAA019;
    fill-opacity: 0.9;
    stroke-width: 0.3px;
    stroke: #BA821A;
}

#highland path{
    fill: rgba(249, 163, 6, 0.29);
    fill-opacity: 0.9;
    stroke-width: 0.3px;
    stroke: rgba(234, 191, 110, 0.47);
}

#lake path{
    fill: #0d529f;
    /*stroke-opacity: 0.6;*/
    stroke-width: 0.8px;
    stroke: #0d529f;
}

#waypath path{
    fill: none;
    stroke: #333;
    stroke-width: 0.3px;
}
#waypath .picture{
    stroke: #393 !important;
}

#waypath .waypathtext {
    fill: #111;
    stroke: #888;
    stroke-width: 0.05px;
    font-size: 8px;
    pointer-events: none;
    font-family: "coelac";
}
#point_waypoint .waypointtext {
    fill: #111;
    stroke: #888;
    stroke-width: 0.05px;
    font-size: 7px;
    pointer-events: none;
    font-family: "Arial";
}

#river path{
    fill: none;
    stroke: #39F;
    cursor: pointer;
}
#road path{
    fill: none;
    stroke: #999;
}

#innerland path{
    fill: #eee;
    stroke-width: 0.8px;
    stroke: #eee;
}

#moor path{
    fill: rgba(58, 132, 138, 0.77);
    stroke-width: 0.8px;
    stroke: rgba(17, 136, 136, 0.12);
}

.highlightElement {
    fill: #666;
    filter: brightness(125%);
    -webkit-filter: brightness(125%);
    -moz-filter: brightness(125%);
    -o-filter: brightness(125%);
    -ms-filter: brightness(125%);
}

.riversmall {
    stroke-width: 0.15px;
}

.rivermedium {
    stroke-width: 0.4px;
}

.riverbig {
    stroke-width: 0.6px;
}

.roadsmall {
    stroke-width: 0.15px;
}

.roadmedium {
    stroke-width: 0.4px;
}

.roadbig {
    stroke-width: 0.6px;
}

#region path{
    fill: rgba(50, 147, 192, 0.67);
    stroke: none;
}


#region-mesh path{
    fill: none;
    stroke-width: 1.2px;
    stroke: rgba(68, 50, 140, 0.74);
    stroke-dasharray: 3,2;
    border-image-repeat: round;
 }