#familytree {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    background: none repeat scroll 0% 0% rgba(70, 70, 70, 0.8);
    box-shadow: -3px 0px 14px 0px rgba(10, 10, 10, 0.8);
    z-index: 21;
}

#familytreecontentsvg{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
}


#familytreecontentheader {
    position: absolute;
    margin: -20px 0px 0px 10px;
}

#familytreecontentclose {
    position: absolute;
    left: 10px;
    top: 0px;
    padding: 10px 4px 4px;
    background: none repeat scroll 0% 0% #000;
    line-height: 14px;
    z-index: 10;
}

#familytreecontentclose a{
    cursor: pointer;
}


#familytreecontentraces {
    position: fixed;
    bottom: 65px;
    margin: 10px;
    color: #eee;
    font-family: "coelac", "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
}

#familytreecontentsearch {
    position: fixed;
    top: 125px;
    margin: 10px;
    color: #eee;
    font-family: "coelac", "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    width: 300px;
    z-index: 5;
}

#familytreesearchsuggestions {
    z-index: 2;
    position: absolute;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    background-color: #555;
    -webkit-box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.61);
}

#familytreesearchsuggestions ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #000;
}

#familytreesearchsuggestions img {
    vertical-align: middle;
}

#familytreesearchsuggestions ul .highlight {
    color: #359AF4;
    cursor: pointer;
}

#familytreesearchsuggestions ul .active {
    color: #F9D276;
}

#familytreeShowallbutton {
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 5;
}

#familytreeHideallbutton {
    position: fixed;
    bottom: 25px;
    left: 95px;
    z-index: 5;
}

#familytreeUnfixallbutton {
    position: fixed;
    bottom: 25px;
    left: 165px;
    z-index: 5;
}

#familytreecontentsvg .linkBEGETS {
    stroke: #ddd;
    stroke-width: 0.6px;
}

#familytreecontentsvg .linkLOVES {
    stroke: #f66;
    stroke-width: 1.5px;
}

#familytreecontentsvg .linkHASSIBLING {
    stroke: #66f;
    stroke-width: 1.5px;
}

#familytreecontentsvg marker path {
    fill: #ddd;
}

#familytreecontentsvg .node .svgimage {
    /*z-index: 5;*/
}

#familytreecontentsvg .node .bgcircle {
    stroke-width: 2.5px;
    cursor: pointer;
}

#familytreecontentsvg .node .circle {
    cursor: pointer;
}

#familytreecontentsvg .node .nodetext {
    fill: #bbb;
    font-size: 8px;
    pointer-events: none;
    font-family: "Arial";
}

#familytreecontentsvg .node .linkcountercircle {
    fill: #359AF4;
    stroke: white;
    stroke-width: 1.0px;
}

#familytreecontentsvg .node .linkcountertext {
    font: 10px sans-serif;
    text-anchor: middle;
    fill: white;
    pointer-events: none;
}