#illustrator {
    position: absolute;
    top: 150px;
    left: 20%;
    width: 60%;
    bottom: 15%;
    background: none repeat scroll 0% 0% rgba(70, 70, 70, 0.9);
    box-shadow: -3px 0px 14px 0px rgba(10, 10, 10, 0.8);
    z-index: 19;
    overflow-y: auto;
    overflow-x: hidden;
}

.illustratorcontentheader {
    padding: 15px 0px;
    text-align: center;
    font-family: "yonkers", "Myriad Pro", sans-serif;
}

#illustratorcontentclose {
    position: absolute;
    right: 10px;
    top: 0px;
    padding: 10px 4px 4px;
    background: none repeat scroll 0% 0% #000;
    line-height: 14px;
    cursor: pointer;
    z-index: 10;
}

.illustratorcontentext {
    margin: 10px;
    color: #eee;
    font-family: 'coelac', "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

.illustratorcontentext img {
    margin-left: 10px;
    float: right;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.61);
}

.listplacing {
    margin-left: -15px;
}

.illustratorcontentext a {
    color: #F9D276;
}

#illustratorfooter{
    margin: 10px;
}

#illustratorfooterHeader{
    text-align: center;
    color: #eee;
    font-family: 'yonkers', "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
}

.illustratorfooterImagesHeader{
    color: #bbb;
    font-family: 'coelac', "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}

#illustratorfooterCreatures a,#illustratorfooterCreaturesFamilytree a,#illustratorfooterLocations a,#illustratorfooterEvents a{
    text-decoration: none;
}

#illustratorfooterCreatures img:hover,#illustratorfooterCreaturesFamilytree img:hover,#illustratorfooterLocations img:hover,#illustratorfooterEvents img:hover{
    animation: image-shining 1s;
}

@-webkit-keyframes image-shining {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes image-shining {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes image-shining {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes image-shining {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}