section #journeycontainer{
    position: relative;
    display: inline-block;
}

#journey {
    bottom: 42px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    box-shadow: -3px 0 14px 0 rgba(10, 10, 10, 0.5);
    z-index: 17;
    position: absolute;
    width: 220px;
}

#journeyinner {
    height: 0;
}

#journeyinnerinner table {
    color: #ddd;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    height: 90%;
    border-collapse: collapse;
    border: 0;
}
#journeyinnerinner p {
    color: #ddd;
    font-size: 9px;
    font-family: "Open Sans", sans-serif;
    margin-left: 15px;
    margin-top: 0px;
}

#journeyinnerinner td:hover{
    color: #F9D276;
}

#journeybutton {
    position: relative;
    display: inline-block;
    margin-right: -3px;
}

.journeyelements {
    list-style-type: none;
}

.journeyicon {
    float: left;
    height: 12px;
    width: 12px;
    margin-right: 2px;
}

.journeytext {
    margin-left: 2px;
}

.journeyelementactive {
    color: #F9D276;
}

