#menu {
    top: 15px;
    left: 15px;
    position: absolute;
    z-index: 20;
}

ul.sdt_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "uncialantiqua", "Myriad Pro", sans-serif;
    width: 510px;
}

ul.sdt_menu a {
    text-decoration: none;
    outline: none;
}

ul.sdt_menu li {
    float: left;
    width: 170px;
    height: 85px;
    position: relative;
    cursor: pointer;
}

ul.sdt_menu li > a {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 170px;
    height: 85px;
    z-index: 15;
    background: transparent url(../pics/menu/overlay.png) no-repeat bottom right;
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
    box-shadow: 0px 0px 2px #000;
}

ul.sdt_menu li a img {
    border: none;
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 0px;
    left: 85px;
    z-index: 100;
    -moz-box-shadow: 0px 0px 4px #000;
    -webkit-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
}

ul.sdt_menu li span.sdt_wrap {
    position: absolute;
    top: 25px;
    left: 0px;
    width: 170px;
    height: 60px;
    z-index: 20;
}

ul.sdt_menu li span.sdt_active {
    position: absolute;
    background: #111;
    top: 85px;
    width: 170px;
    height: 0px;
    left: 0px;
    z-index: 20;
    -moz-box-shadow: 0px 0px 4px #000 inset;
    -webkit-box-shadow: 0px 0px 4px #000 inset;
    box-shadow: 0px 0px 4px #000 inset;
}

ul.sdt_menu li span span.sdt_link, ul.sdt_menu li span span.sdt_descr, ul.sdt_menu li div.sdt_box a {
    margin-left: 15px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}

html, html a {
    -webkit-font-smoothing: antialiased !important;
}

ul.sdt_menu li span span.sdt_link {
    color: #fff;
    font-size: 20px;
    float: left;
    clear: both;
}

ul.sdt_menu li span span.sdt_descr {
    font-family: "coelac", "Myriad Pro", sans-serif;
    color: #F9D276;
    float: left;
    clear: both;
    width: 155px;
    font-size: 10px;
    letter-spacing: 1px;
}

ul.sdt_menu li div.sdt_box {
    display: block;
    position: absolute;
    width: 170px;
    overflow: hidden;
    height: 170px;
    top: 85px;
    left: 0px;
    display: none;
    background: #333;
}

ul.sdt_menu li div.sdt_box a {
    font-family: "coelac", "Myriad Pro", sans-serif;
    float: left;
    clear: both;
    line-height: 30px;
    color: #ddd;
    font-size: 13px;
}

ul.sdt_menu li div.sdt_box a:first-child {
    margin-top: 10px;
}

ul.sdt_menu li div.sdt_box a:hover {
    color: #fff;
}
