#preloader {
    position: fixed;
    left: 50%;
    top: 47%;
    transform: translateX(-50%);
    text-align: center;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
    box-shadow: -3px 0px 14px 0px rgba(10, 10, 10, 0.5);
}

#preloadercontent {
    font-family: "coelac","Myriad Pro",sans-serif;
    font-size: 24px;
    z-index: 22;
    color: #eee;
    height: 55px;
    width: 220px;
}
