#scalebar {
    position: relative;
    width: 180px;
    height: 36px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    overflow: hidden;
    font-size: 10px;
    line-height: 14px;
    display: inline-block;
    margin-right: -3px;
}

#scalebarheader {
    text-align: center;
}

#scalebarsmooth {
    margin-left: 5px;
    margin-top: -14px;
    cursor: pointer;
}
#scalebarsmooth:hover {
    color: #F9D276;
}

#scalebarleft {
    position: absolute;
    text-align: left;
    left: 5px;
    bottom: 3px;
    font-size: 9px;
}

#scalebarcenter {
    text-align: center;
    position: absolute;
    left: 50%;
    font-size: 9px;
    transform: translateX(-50%);
    bottom: 3px;
}

#scalebarright {
    position: absolute;
    text-align: right;
    right: 5px;
    bottom: 3px;
    font-size: 9px;
}

#scalebarslider .ui-slider, #scalebarslider .ui-slider-handle{
    height: 0.9em !important;
    width: 0.9em !important;
}

#scalebarslider {
    border: 1px solid #666 !important;
}