#timeline {
    float: left;
}

#timelineinner {
    height: 0px;
}

#timelinecontent {
    z-index: 22;
    position: absolute;
    background: none repeat scroll 0% 0% #666;
    box-shadow: -3px 0px 14px 0px rgba(10, 10, 10, 0.8);
    height: 0px;
    min-width: 100%;
}

#timelinearea {
    height: 350px;
    width: 100%;
}

span[class^="timelinelocation"] {
    color: #DA871D;
    cursor: pointer;
}

span[class^="timelinecreature"] {
    color: #969520;
    cursor: pointer;
}