#versioncontent p{
    margin: -5px;
}

#versioncontent p.small{
    font-size: 21px;
}

.fb-like {
    position: fixed;
    top: 10px;
    right: 10px;
}

.fb_iframe_widget{
    position: fixed !important;
    z-index: 22;
}

#donate {
    position: fixed;
    top: 35px;
    right: 8px;
}

.fb_iframe_widget_lift {
    right: 0px;
}