#zoombuttoncontainer{
    position: relative;
    width: 18px;
    height: 32px;
    display: inline-block;
    margin-right: -4px;
}

#zoomplusbutton {
    margin-bottom: -5px;
}

#zoomminusbutton {
    margin-bottom: 1px;
}

.buttonzoom {
    position: relative;
    width: 18px;
    height: 18px;
    text-align: center;
}

#zoomresetbutton {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin-right: -3px;
}